.invite-partner-container,.profile-container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    height: max-content;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 768px) {
.invitePartner-container{
margin-top: 10px;
}}