/* Blurred content when loader is active */
.blurred-content {
    filter: blur(1px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Disable interaction while loading */
    opacity: 0.6; /* Slight transparency for a blemish effect */
  }
  
  /* Loader styling */
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #060606;
    border-top: 6px solid  #f9eee1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  /* Animation for loader spinning effect */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
