input.input-style , input[type="text"]{
    width: 400px;
    height: 40px;
    background-color: #F9EEE1;
    border: 0.5px solid #41414E;
    border-radius: 40px;
    color: #41414E;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.32px;
    margin-bottom: 23px;
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px  #F9EEE1 inset !important;
}



.input-style:focus,
.input-style:active {
    outline: none;
    border: 0.5px solid #41414E;
}