.loginpage-button,
.landingpage-button {
  width: 180px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #c68977;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
  letter-spacing: 0.28px;
  border-style: none;
  margin: auto;
}

.landingpage-button:hover,
.loginpage-button:hover,
.userpage-button:hover {
  background-color: #A76D5C;
}

.landingpage-button:active,
.loginpage-button:active,
.userpage-button:active {
  background-color: #A76D5C;
  color: #C68977;
}

.loginpage-buttoncontainer {
  text-align: center;
}

.landingpage-button:focus,
.loginpage-button:focus,
.userpage-button:focus {
  outline: none;
}

.startques-buttoncontainer {
  margin-top: 6%;
  text-align: center;

}

.userpage-buttoncontainer {
  text-align: center;
}

.userpage-button {
  width: 261.886px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #C68977;
  border-style: none;
  color: #fff;
}

.popup-0k-btn {
  margin: auto;
  width: 114.156px;
  height: 40px;
  border-radius: 40px;
  border: 0.5px solid #41414E;
  background-color: unset;
  color: #41414E;
  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 175% */
  letter-spacing: 0.24px;
}

.plan-card-button {
  background-color: #d29b82;
  color: #fff;
  border: none;
  border-radius: 38px;
  padding: 0.3rem 2.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.card-category-selection-btn {
  width: 133px;
  height: 25px;
  border-radius: 38px;
  border: 0.5px solid #41414E;
  margin: auto;
  padding: 0;
  color: #41414E;
  text-align: center;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 210% */
  letter-spacing: 0.2px;
}

.learn-more-btn {
  border-radius: 38px;
  border: 0.5px solid #41414E;

  width: 133px;
  height: 30px;
  padding: 5px 16px;
  color: #41414E;
  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 175% */
  letter-spacing: 0.24px;
  margin: 40px auto;

}

.dashboardGraphsBtn {
  width: 385px;
  height: 40px;
  border-radius: 38px;
  border: 0.5px solid #41414E;
  background: #F9EEE1;
  color: #41414E;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
  letter-spacing: 0.28px;
}

@media only screen and (max-width: 666px) {

  .dashboardGraphsBtn {
    width: 250px;
   
    font-family: Raleway;
    font-size: 10px;
   
  }
}