.heading-container {
  /*   width: 760px; */
  height: 42px;
  flex-shrink: 0;
 
  margin-bottom: 30px;
}

.heading-text {
  color: #f9eee1;
  font-style: normal;
  margin-top: -6%;

  /*  height: 42px; */

}

h1 {
  font-family: Cormorant Garamond;
  font-size: 60px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
}


.heading-desc {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: center;
  width: 60vw;
}

.desc {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;
  width: 60vw;
}


.links-textcontainer {
  margin-top: 17px;
  margin-bottom: 24px;
  display: flex;
  /* width: 221px; */
  height: 22px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.links-text {
  color: #AA6754;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
  letter-spacing: 0.28px;
  text-decoration-line: underline;
}

.my-relations {
  width: 198px;
  height: 21px;
  flex-shrink: 0;
  color: #F9EEE1;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  /* Added serif fallback */
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 77.778% */
}

.myrelations-text {
  width: 157px;
  height: 21px;
  flex-shrink: 0;
  color: #F9EEE1;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 116.667% */
  text-decoration-line: underline;
}

.newrelation-text {
  width: 157px;
  height: 21px;
  flex-shrink: 0;
  color: #F9EEE1;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  /* 116.667% */
}

.therapist-text {
  width: 198px;
  color: #F9EEE1;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 77.778% */
}


.sub-containerheading {
  width: 47vw;
  flex-shrink: 0;
}

.sub-containerheadingtext{
  color: #41414e;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.h2 {
  color: #41414e;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-style: normal;
  margin: 0;
  font-size: 45px;
  font-weight: 600;
  line-height: 21px;
}

.meet-our-expert {
  text-align: left;
  color: #F9EEE1;
  margin-left: 0;
}

.meet-our-expert-text {
  color: #F9EEE1;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;

}

.text {
  color: #41414e;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 156.25% */
  letter-spacing: 0.32px;
  margin: 25px 0;
}

.section-header,
h3 {
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-weight: 600;
  /* line-height: 21px; */
  text-align: center;

}

.sections-text {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: center;

}

.labels {
  display: flex;
  width: 200px;
  height: 6.452px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #41414e;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 175% */
  letter-spacing: 0.24px;
  margin-bottom: 9.55px;
}

.policy-textcontainer {
  display: flex;
  width: 394px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.policy-text {
  color: #41414e;
  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  /* 125% */
  letter-spacing: 0.24px;
}

.description-container {
  margin-top: 2%;
  margin-bottom: 24px;

}

.description-text {
  color: #f9eee1;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.28px;
  margin: 0 auto;
  width: 75%
}

.startques-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;

}

.username-text {
  flex-shrink: 0;
  color: #F9EEE1;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0;
}

.invitationtext-container {
  width: 860px;
  height: 31px;
  flex-shrink: 0;
}

.invitation-text {
  color: #F9EEE1;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.32px;
}

.quesionaire-heading {
  height: 21px;
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
}

.questionaire-partnerName {
  margin-top: 30px;
  height: 23px;
  font-family: Cormorant Garamond;
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
}

.questionaire-relation-review {
  height: 35px;
  font-family: Cormorant Garamond;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 43px;
  text-align: center;
}

.question-p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;

}

.question-count {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;

}

.select-score-p {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;

}

@media only screen and (max-width: 768px) {
  .heading-container {
      margin-top: 8%;
      margin-left: 0%;
  }
  .description-container {
      margin-top: 10%;
  }
  .policy-textcontainer {
    display: flex;
    width: 394px;
    height: 14px;
    margin-top: -200%;
    padding:7%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 24px;
  }
  .social-policytext{
    margin-top: -80%;

  }
  }