.ComparedAnswers {
    color: #41414E;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    /* 107.5% */
}