.logininput-box {
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #f9eee1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    border-style: none;
    text-align: center;
    color: #41414e;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.28px;
  }


  .inputboxes{
    display: flex;
    background: #f9eee1;
    flex-direction: column;
    width: 400px;
    margin-bottom: 27px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 38px;
    border: 0.5px solid #41414e;
  }