.summary1CatagoryAlignment {
    max-width: 400px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    margin: 20px auto;
}

.summary1CatagoryAlignment p {
    
    justify-self: start;
    align-self: center;
    margin-bottom: 0;
    color: #41414E;
    font-family: "Cormorant Garamond";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 100% */
}

.summary-catagories-p {
    color: #41414E;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin: 30px auto 0;
    width: 400px;
    height: 25px;
    text-align: left;
}

.edit-in-summary {
    color: rgba(65, 65, 78, 0.60);
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}