.compared-answers-container{

margin:auto;
}

.legend {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin:0 auto 20px ;
  }
  
  .legend span {
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 0.8em;
    width:99px;
    height:25px;
  }
  
  .you {
    background-color: #e6b8a2;
  }
  
  .partner {
    background-color: #5f5f6e;
    color: white;
  }

  /* Score Table */
.score-table {
    margin:auto;
  }

  .score-table:nth-child(n+2) {
    width: 70%;
  }
  
  .score-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .score-row:first-child {
    border-radius: 40px;
    background: rgba(198, 137, 119, 0.25);
    padding:20px;
  }

  .score-row:first-child .progress-bar{
    background-color: rgba(198, 137, 119, 0.25);
  }
  
  .category-name {
    flex: 2;
    font-size: 0.9em;
    text-align: left;
    margin-left: 30px;
  }

.score-row:first-child .category-name{
    margin-left: 17px;
  }
  
  .scores {
    display: flex;
    flex: 1;
    gap: 10px;
  }
  
  .score {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 0.9em;
  }
  
  .score.you {
    background-color: #e6b8a2;
  }
  
  .score.partner {
    background-color: #5f5f6e;
  }
  
  /* Progress Bars */
  .progress-bar {
    flex: 3;
    height: 15px;
    background-color: #F9EEE1;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #C68977 1px, transparent 1px);
    background-size: 14.28%; /* Divides the bar into 7 equal sections (100% / 7) */
  }
  
  .bar {
    height: 60%;
  }
  
  .you-bar {
    background-color: #C68977;;
    z-index: 1;
    margin-bottom: 5px;
  }
  
  .partner-bar {
    background-color: #5f5f6e;
    z-index: 2;
 
  }