.table-container {
    margin: 70px auto;
}

.table-header {
    height: 50px;
}

.blurred-content {
    filter: blur(1px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Disable interaction while loading */
    opacity: 0.6; /* Slight transparency for a blemish effect */
  }


.table-header,
.table {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 0;
}

.table-header *,
.table * {
    width: 20%;
}


.table li:first-child {
    width: 35%;
    text-align: left;
    color: #41414E;
    font-family: "Cormorant Garamond";
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.table-header li:first-child{
    text-align: left;
}

.table-header li:first-child,
.table-header li:nth-child(2),
.table-header li:nth-child(3),
.table-header li:nth-child(4),
.table-header li:nth-child(5) {
    width: 35%;
    color: #41414E;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.28px;
}

.table-header li:nth-child(3){
    width:15%;
}


.table li:nth-child(4),
.table li:nth-child(5) {
    width: 35%;
    color: #41414E;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: 0.32px;
}


.table li:nth-child(2) {
    width: 35%;
    color: #41414E;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.28px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.table li:nth-child(2):hover {
    color: #C68977;

    letter-spacing: 0.28px;
    text-decoration-line: underline;
}

.table li:nth-child(2):active {
    color: rgba(65, 65, 78, 0.60);

    letter-spacing: 0.28px;
    text-decoration-line: underline;
}


.table li:nth-child(3) {
    width: 15%;
    color: #41414E;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.32px;
}

.table li:nth-child(3) {
    display: flex;
}

.table li:nth-child(3) .circle-background {
    width: 30px;
    height: 30px;
    color: #F9EEE1;
    border-radius: 50%;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.catogory_active{
    background-color:#c68977;
}
.catogory_inactive {
    
    background-color:#C1BFBE;; 
}


.table li:nth-child(3) .circle-background span {
    padding-top: 3px;
    position: absolute;
    top: 1px;
    left: 10px;
}

.manage-button {
    color: #41414E;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.28px;
    width: 165px;
    height: 40px;
    border-radius: 100px;
    border: 0.5px solid #41414E;
    background: #F9EEE1;
}

.manage-button:hover {
    background: rgba(198, 137, 119, 0.40);
}

.manage-button:active {
    color: #C68977;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.28px;
    background: rgba(198, 137, 119, 0.40);
}




@media only screen and (max-width: 1075px) {
    .table li:first-child {
        font-size: 18px;
    }

    .table-header li:first-child,
    .table-header li:nth-child(2),
    .table-header li:nth-child(3),
    .table-header li:nth-child(4){
        font-size: 12px;
    }
   
  }

  @media only screen and (max-width: 867px) {
    .table li:nth-child(2) {
        font-size: 12px;
    }
   
  }

  @media only screen and (max-width: 667px) {

    .table li:nth-child(1) {
        font-size: 14px;
        line-height: 10px;
    }
    .table li:nth-child(2) {
        font-size: 8px;
        line-height: 10px;
    }

    .table li:nth-child(3) {
        font-size: 12px;
        line-height: 10px;
    }

    .table li:nth-child(3) .circle-background span {
        padding-top: 10px;
        position: absolute;
        top: 1px;
        left: 9px;
    }

    .table li:nth-child(4) {
        font-size: 8px;
        line-height: 10px;
    }

    .manage-button {
    
        font-size: 10px;
        line-height: 10px;
        width: 80px;
        height: 30px;
       
    }
    
   
  }