.login-container,.right-container {
  height: 40%;
}

.email-signup,.social-login  {
  display: grid;
 grid-template-rows: 1fr 1fr auto 1fr;
 height: max-content;
 align-items: center;
 justify-items: center;
}

/* .email-signup,.social-login  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.social-icon {
  width: 18.831px;
  height: 19.14px;
  flex-shrink: 0;
  fill: #41414e;
  margin-left: 18px;

  /* margin-right: 41.17px; */
  margin-top: 10px;
  margin-bottom: 10.68px;
}

.social-icongoogle {
  width: 18.831px;
  height: 19.14px;
  flex-shrink: 0;
  fill: #41414e;
  margin-left: 6px;

  /* margin-right: 41.17px; */
  margin-top: 10px;
  margin-bottom: 10.68px;
}


.logininputs-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.inviteuser-inputbox {
  display: flex;
  background: #f9eee1;
  flex-direction: column;
  width: 400px;
  /* margin-bottom: 12px; */
  height: 40px;
  flex-shrink: 0;
  border-radius: 38px;
  border: 0.5px solid #41414e;
}

.radiobut-container {
  display: flex;
  align-items: center;
  width: 58%;
  background: #f9eee1;
}

.radio-option {
  width: 11px;
  height: 11px;
  stroke-width: 0.5px;
  stroke: #000;
  background: #f9eee1;
  flex-shrink: 0;
  margin-bottom: 20%;
}

.radio-text {
  color: #41414E;
  text-align: center;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;


}

.inputscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
  height:240px;
}

.dateinputbox {
  width: 190px;
  color: rgba(65, 65, 78, 0.6);

  height: 40px;

  flex-shrink: 0;
  background: #f9eee1;
  border-radius: 38px;
  border: 0.5px solid #41414e;
  margin-right: 20px;
  text-align: center;
  text-align-last: center;

}

.childinputbox {
  width: 190px;
  color: rgba(65, 65, 78, 0.6);
  height: 40px;
  appearance: none;
  flex-shrink: 0;
  background: #f9eee1;
  border-radius: 38px;
  border: 0.5px solid #41414e;
  margin-right: 20px;
  text-align: center;
  text-align-last: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path d="M0.736905 0.999999L5.50004 5.5L10.2632 1" stroke="%2341414E" stroke-opacity="0.6" stroke-width="0.7" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 9.5px 4.5px;
}

.gender-inputbox {
  background: #f9eee1;
  color: rgba(65, 65, 78, 0.6);
  appearance: none;

  width: 400px;
  margin-bottom: 27px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 38px;
  border: 0.5px solid #41414e;
  text-align: center;
  text-align-last: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path d="M0.736905 0.999999L5.50004 5.5L10.2632 1" stroke="%2341414E" stroke-opacity="0.6" stroke-width="0.7" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 9.5px 4.5px;
}

.dateinputbox::-webkit-calendar-picker-indicator {
  text-align: center;
  margin-right: 10%;
}

.social-button {
  background: #f9eee1;
  display: flex;
  width: 260px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  border: 0.5px solid #41414e;
  margin: 14px;
}

.social-text {
  margin-left: 78px;
  margin-right: 82px;
}

.svg-container {
  width: 2px;
  height: 308px;
  flex-shrink: 0;
  stroke-width: 1px;
  margin-top: 33px;
}

.svg-container svg path {
  stroke: #41414e;
}

.dividercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* margin-top: 68px; */
}

.legal-info {
  color: #aa6754;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
}

.socialsignup-buttoncontainer {
  margin-bottom: 37px;
  height:240px;
}











.navbar-container {
  margin-top: 46px;
}





.divider {
  width: 50px;
  height: 42px;
  flex-shrink: 0;
  color: #41414e;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  line-height: 21px;
  /* 52.5% */
}