.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-link {
    width: 202px;
    height: 21px;
    flex-shrink: 0;
    color: #F9EEE1;
    text-align: center;
    font-family: 'Raleway', sans-serif; /* Ensure to import this font in your project */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.24px;
    text-decoration: underline;
}

.logged-in-text {
    width: 202px;
    height: 43px;
    flex-shrink: 0;
    color: #F9EEE1;
    text-align: center;
    font-family: 'Raleway', sans-serif; /* Ensure to import this font in your project */
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.24px;
}
