.header-text{
    color: #F9EEE1;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 35% */
    background-color: #41414E;
    padding-top:200px;
}