.resetPwd-text {
    display: flex;
    width: 369px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    color: #F9EEE1;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    letter-spacing: 0.28px;
}

.check-email {
    display: flex;
    width: 369px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    color: #F9EEE1;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    letter-spacing: 0.28px;

    margin:100px auto 0;
}

.resetEmailSentMsg {
    color: #F9EEE1;
    text-align: center;
    font-family: "Cormorant Garamond";
    line-height: 21px;
    margin:30px auto;
    /* 60% */
}