

html{
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
  width:0;
  height:0;
}

.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 4%; */
}

.left-container,.right-container {
  margin-top: 3%;
}

.divider-horizantal {
  width: 80%;
  background-color: #41414E;
  height: .5px;
  margin: 30px auto;

}
@media only screen and (max-width: 768px) {
  .sub-container {
  flex-direction: column;
  }
}

