

.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 4%; */
}

.left-container,.right-container {
  margin-top: 3%;
}

.divider-horizantal {
  width: 80%;
  background-color: #41414E;
  height: .5px;
  margin: 30px auto;

}
@media only screen and (max-width: 768px) {
  .sub-container {
  flex-direction: column;
  }
  
}

