.catagory {
    max-width:650px;
    height:72px;
    background: #C6897740;
    color:#41414E;
    border-radius: 40px;
    margin:auto;

}

.summary-catagory {
    width:70%;
    height:72px;
    background: #C6897740;
    color:#41414E;
    border-radius: 40px;
    margin:auto;
}

@media only screen and (max-width:640px) {
    .summary-catagory {
        width:90%;
    }
}

@media only screen and (max-width:440px) {
    .summary-catagory {
        width:100%;
        border-radius: 5px;
    }


}